<html>
    <head>
        <title>Who is Elon Musk? - Biography of America</title>
        <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="resources/style.css">
        <link rel="stylesheet" href="elonmusk/style.css">
    </head>
    <body>

        <div class="heading">
            <h1 class="BoA">Who is Elon Musk?</h1>
            <h1 class="BoA credits">By Kevin Mitnick, Biography of America</h1>
        </div>

        <div class="intro-photo">
            <img src="elonmusk/Elon1.png">
        </div>

        <script src="script.js"></script>
    </body>
</html>